<div class="container text-center">
  <h1>Meet the team</h1>

  <%= cl_image_tag "xxbleffevx2ayt4kjqes", width: 400, height: 100, crop: :fill %>

  <ul>

    <% @members.each do |member| %>
      <li>Member: <%= member%></li>
    <% end %>

  </ul>

</div>
